<%- include ("../partials/header") %>

<div class="container">
    <div class="pull-right">
        <a class="btn btn-primary" href="/groups/new">New Group</a>
    </div>
       
    <h4>Group Lists:</h4>

    <div style="margin-top: 30px;">
        <ul>
            <%groups.forEach(function(group){%>
                <%if(group.isActive){%>
                    <div id="list-example" class="list-group">
                        <a class="list-group-item list-group-item-action" href="/groups/<%=group._id%>""><%=group.groupName%></a>
                    </div>
                     <!-- <li style="line-height: 1em;"><a href="/groups/<%=group._id%>"></a></li> -->
                <%}%>
            <%})%>
        </ul>
    </div>


</div>


<%- include ("../partials/footer") %>